<div>

  <h1>Add medicine</h1>

  <div *ngIf="!loading" class="row">

    <div class="offset-1 col-sm-4">

      <h2 style="text-align: center;">Name and type</h2>

      <div class="col-sm-10 offset-1">

        <div class="alert alert-danger" *ngIf="errorMessage" style="padding: 10px;">
          {{errorMessage}}
        </div>
        <div class="alert alert-success" *ngIf="message" style="padding: 10px;">
          {{message}}
        </div>

        <form [formGroup]="form" (ngSubmit)="addMedicine()">

          <div class="form-group">
            <label for="name">Medicine Name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   formControlName="nameCtrl"
                   [formGroup]="form"
                   placeholder="Sinedol">
          </div>
          <div *ngIf="form.controls['nameCtrl'].touched && !form.controls['nameCtrl'].valid">
            <div class="alert alert-danger" *ngIf="form.controls['nameCtrl'].hasError('required')">
              Medicine name is required.
            </div>
            <div class="alert alert-danger" *ngIf="form.controls['nameCtrl'].hasError('minlength')">
              Name must contain at least 3 characters.
            </div>
          </div>

          <div class="form-group">
            <label for="type">Medicine Type</label>
            <select id="type"
                    class="form-control"
                    formControlName="typeCtrl"
                    [formGroup]="form"
                    placeholder="Medicine Type">
              <option value="not-selected-value"></option>
              <option *ngFor="let type of medicineTypes">{{type}}</option>
            </select>
          </div>
          <div *ngIf="form.controls['typeCtrl'].touched && !form.controls['typeCtrl'].valid">
            <div class="alert alert-danger" *ngIf="form.controls['typeCtrl'].hasError('required')">
              Medicine Type is required.
            </div>
          </div>

          <button class="btn btn-primary btn-lg" type="submit" [disabled]='!form.valid'>Add doctor</button>

        </form>

      </div>

    </div>

    <div class="col-sm-6">

      <h2 style="visibility: visible;">Ingredients</h2>

      <div class="row">

        <div class="col-sm-6">

          <!-- Ingredients -->
          <h5 class="container">
            <div class="centered-text"><h5 class="color-opacity-radius" style="margin-top: 0;"> Page {{page + 1}} of 3</h5></div>
            <div *ngIf="page == 0" class="row" style="margin-bottom: 5px;">
              <div class="offset-7 col-sm-5 centered-text"><button *ngIf="page == 0 || page < 2" (click)="nextPage()" class="btn-default btn btn-md"> Next </button></div>
            </div>
            <div *ngIf="page > 0" class="row" style="margin-bottom: 5px;">
              <div class="col-sm-6" centered-text><button *ngIf="page > 0" (click)="previousPage()" class="btn-default btn btn-md"> Previous </button></div>
              <div class="offset-1 col-sm-5 centered-text"><button *ngIf="page == 0 || page < 2" (click)="nextPage()" class="btn-default btn btn-md"> Next </button></div>
            </div>
          </h5>

          <!-- Added ingredients -->
          <div class="form-group">
            <label for="ingredients" style="font-size: 20px; margin-bottom: 0px;">All:</label>&nbsp;<span>(click to add)</span>
            <!-- Filter Field -->
            <div style="margin-bottom: 10px;">
              <input #ingredientsSearch id="ing-search" (keyup)="filterIngredients(ingredientsSearch.value)" class="form-control" placeholder="Filter"/>
            </div>
            <div *ngFor="let ingredient of ingredients" id="ingredients">
              <button class="btn btn-outline-info btn-block" value="ingredient" (click)="addIngredient(ingredient)" style="margin-bottom: 5px; cursor: cell;">
                {{ingredient.name}}
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="added-ingredients" style="font-size: 20px; margin-bottom: 0px;">Added:</label>&nbsp;<span>(click to remove)</span>
            <!-- Filter Field -->
            <div style="margin-bottom: 10px;">
              <input #addedIngredientsSearch id="added-ing-search" (keyup)="filterAddedIngredients(addedIngredientsSearch.value)" class="form-control" placeholder="Filter"/>
            </div>
            <div *ngFor="let addedIngredient of addedIngredients" id="added-ingredients">
              <button class="btn btn-outline-danger btn-block" value="addedIngredient" (click)="removeIngredient(addedIngredient)" style="margin-bottom: 5px;cursor: not-allowed;">{{addedIngredient.name}}</button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div><!-- row -->

</div>

<div *ngIf="loading" class="container">
  <div class="offset-5 col-lg-5 loader"></div>
</div>
