<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['']">Health Center</a>

  <button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-right" type="button"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" [class.show]="show" id="navbarsDefault">

    <!--  D O C T O R  M E N U  -->

    <ul *ngIf="isDoctor()"class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link" [routerLink]="['add-patient']">Add patient</a></li>
      <li><a class="nav-item nav-link" [routerLink]="['reports']">Generate reports</a></li>
      <li><a class="nav-item nav-link" [routerLink]="['intensive-care']">Patients-Monitoring</a></li>
      <li><a class="nav-item nav-link" [routerLink]="['diagnose-patient']">Diagnose</a></li>
    </ul>

    <ul *ngIf="isDoctor()" class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id-doctor-view"[routerLink]="[]" ngbDropdownToggle> View </a>
        <div class="dropdown-menu" aria-labelledby="id-doctor-view" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['ingredients']">Ingredients</a>
          <a class="dropdown-item" [routerLink]="['medications']">Medications</a>
          <a class="dropdown-item" [routerLink]="['symptoms']">Symptoms</a>
          <a class="dropdown-item" [routerLink]="['diseases']">Diseases</a>
        </div>
      </li>
      <li>
        <a class="nav-item nav-link" [routerLink]="['login']">
          &nbsp;&nbsp;
          <span *ngIf="isAuthenticated()">Logout</span>
          <span *ngIf="!isAuthenticated()">Login</span>
        </a>
      </li>
    </ul>


    <!--  A D M I N   M E N U  -->

    <ul *ngIf="isAdmin()" class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id-admin-add"[routerLink]="[]" ngbDropdownToggle>
          &nbsp; Add new &nbsp; </a>
        <div class="dropdown-menu" aria-labelledby="id-admin-add" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['add-ingredient']">Ingredient</a>
          <a class="dropdown-item" [routerLink]="['add-medication']">Medication</a>
          <a class="dropdown-item" [routerLink]="['add-symptom']">Symptom</a>
          <a class="dropdown-item" [routerLink]="['add-disease']">Disease</a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id-admin-view"[routerLink]="[]" ngbDropdownToggle>
          &nbsp; View all &nbsp; </a>
        <div class="dropdown-menu" aria-labelledby="id-admin-view" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['ingredients']">Ingredients</a>
          <a class="dropdown-item" [routerLink]="['medications']">Medications</a>
          <a class="dropdown-item" [routerLink]="['symptoms']">Symptoms</a>
          <a class="dropdown-item" [routerLink]="['diseases']">Diseases</a>
        </div>
      </li>
    </ul>

    <ul *ngIf="isAdmin()" class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-item nav-link" [routerLink]="['add-doctor']">
          &nbsp; Add Doctor
        </a>
      </li>
      <li>
        <a class="nav-item nav-link" [routerLink]="['login']">
          &nbsp;
          <span *ngIf="isAuthenticated()">Logout</span>
          <span *ngIf="!isAuthenticated()">Login</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
