.my-h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.mar-top-10 {
  margin-top: 10px;
}

h1 {
  display: inline;
}

.centered-text {
  text-align: center;
}

.color-opacity-radius {
  background-color: rgba(253, 251, 255, 0.8); /*rgba(60,120,255, 0.3)*/
  padding: 3px;
  border-radius: 10px;
}

#all-symptoms-div {
  max-height: 350px;
  overflow: auto;
  overflow-x: hidden;
}

.loader {
  border: 24px solid #f3f3f3; /* Light grey */
  border-top: 24px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 170px;
  height: 170px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
