<div class="container" id="main-container">

  <h3 *ngIf="ingredients?.length > 0 || searched && ingredients?.length == 0" class="container">
    <div class="row">
      <div class="col-sm-4">
        <span class="col-lg-4 centered-text"><span class="color-opacity-radius" style="margin-top: 0;"> <b>Ingredients:</b> Page {{page + 1}} / {{totalPages}}</span></span>
      </div>
      <span class="col-lg-2 centered-text"><button *ngIf="page > 0" (click)="previousPage()" class="btn-default btn btn-md"> Previous page </button></span>
      <span class="col-lg-2 centered-text"><button *ngIf="page < (totalPages - 1)" (click)="nextPage()" class="btn-default btn btn-md"> Next page </button></span>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 color-opacity-radius" id="id-search-form">
        <form (ngSubmit)="search()" style="padding: 5px;">
          <input type="text" [(ngModel)]="searchCriteria" class="form-control mr-sm-2" id="id-searchCriteria" name="searchCriteria" placeholder="Search criteria">
          <button class="btn btn-primary btn-md" type="submit" [disabled]='searchCriteria == "" || searchCriteria == undefined' style="margin-top: 5px;">Search</button>
          <button class="btn btn-primary btn-md" type="button" [disabled]=' ! searched' (click)="getIngredients()" style="margin-top: 5px; float: right;">Browse ingredients</button>
        </form>
      </div>
    </div>
  </h3>

  <h3 *ngIf="searched && ingredients?.length == 0 && !loading" class="container color-opacity-radius centered-text">Your search gave no results</h3>

  <h3 *ngIf="errorMessage !== ''" class="centered-text color-opacity-radius alert-danger">{{errorMessage}}</h3>

  <div *ngIf=" ! loading && ! ingredients?.length == 0">
    <div class="col-sm-offset-1 col-sm-10 color-opacity-radius">
      <table class="table table-hover table-condensed ingredients-table">
        <thead>
        <tr *ngIf="isAdmin">
          <!--<div class="row">-->
            <th style="border: none;">Ingredient name</th>
            <th style="border: none;">&nbsp;Edit</th>
            <th style="border: none;">&nbsp;Delete</th>
          <!--</div>-->
        </tr>
        <tr *ngIf=" ! isAdmin">
          <div class="row">
            <th class="col-sm-12" style="border: none;">Ingredient name</th>
          </div>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ingredient of ingredients">
          <td><span>{{ingredient.name}}</span></td>
          <td *ngIf="isAdmin">
            <div class="row">
              <div class="offset-2 col-sm-8">
                <button (click)="reveal(ingredient)" class="btn btn-sm btn-warning btn-block"> Edit </button>
              </div>
            </div>
          </td>
          <td *ngIf="isAdmin">
            <div class="row">
              <div class="offset-2 col-sm-8">
                <button (click)="deleteIngredient(ingredient)" class="btn btn-sm btn-danger btn-block"> Remove </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="loading" class="container">
    <div class="col-sm-offset-5 col-sm-4 loader"></div>
  </div>
</div>

<!-- Modal -->
<div class="container">
  <div class="modal" id="myModal" style="display: block; background: rgba(0,0,0, 0.5);" *ngIf="show">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">You are editing: {{modalIngredient.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6"> <h5>New ingredient name:</h5> </div>
            <div class="col-sm-6"> <h5><input type="text" [(ngModel)]="newIngredient.name" class="form-control form-control-sm"></h5> </div>
          </div>
          <div class="row">
            <div class="offset-1 col-sm-10 form-control"> <span>Renaming {{modalIngredient.name}} to {{newIngredient.name}}.</span> </div>
          </div>
        </div>

        <div style="margin: 5px; padding: 5px; border-radius: 5px;">
          <div class="row">
            <div class="offset-7 col-sm-2"> <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editIngredient()"> Edit </button> </div>
            <div class="col-sm-2"> <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hide()"> Close </button> </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
